
$box_size: 200px;
$space_between: 20px;
$x_init: 50px;
$y_init: 50px;

@mixin box ($box_size, $space_between, $x_init, $y_init){
  padding: 0;
  position: absolute;
  background: black;
  color: white;
  height: $box_size;
  width: $box_size;
  box-sizing: border-box;

  @for $i from 1 to 4{
    @for $j from 1 to 4{
      &.b#{$i}#{$j}{
          top: ($i - 1) * ($box_size + $space_between) + $y_init;
          left: ($j - 1) * ($box_size + $space_between) + $x_init;
      }
    }
  }
}

.box {
    @include box($box_size, $space_between, $x_init, $y_init);    
}