
$box_size: 200px;
$space_between: 20px;
$x_init: 50px;
$y_init: 50px;

@mixin box ($box_size, $space_between, $x_init, $y_init){
  background: #78bec5;
  border-radius: $box_size * 0.05;
  box-sizing: border-box;
  color: white;
  font-family: 'Verdana', Geneva, sans-serif;
  font-size: $box_size * 0.5;
  font-weight: bold;
  height: $box_size;
  line-height: $box_size;
  padding: 0;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 8px darkslategray;
  width: $box_size;

  &:hover{
    background-color: #3d4250;
    opacity: .7;
  }

  @for $i from 1 to 4{
    @for $j from 1 to 4{
      &.b#{$i}#{$j}{
          left: ($j - 1) * ($box_size + $space_between) + $x_init;
          top: ($i - 1) * ($box_size + $space_between) + $y_init;
      }
    }
  }
}

.box {
    @include box($box_size, $space_between, $x_init, $y_init);    
}

.end {
  background: rgba(255, 255, 255, .8);
  color: #3d4250;
  display: none;
  height: $box_size * 3 + $space_between * 2;
  left: $x_init;
  position: absolute;
  text-align: center;
  top: $y_init;
  width: $box_size * 3 + $space_between * 2;
  z-index: 1;

  h1 {
    font-size: 30px;
    font-weight: 300;
  }
  
  a {
    background-color: #3d4250;
    border-radius: 4px;
    color: #fff;
    padding: 14px 45px;
    text-decoration: none;
    
    &:hover {
      background-color: #262934;
    }
  }
}