.box {
  background: #b6b5ca;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  font-family: 'Verdana', Geneva, sans-serif;
  font-size: 100px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 200px;
  text-shadow: 2px 2px 8px darkslategray; }
  .box.b11 {
    left: 50px;
    top: 50px; }
  .box.b12 {
    left: 270px;
    top: 50px; }
  .box.b13 {
    left: 490px;
    top: 50px; }
  .box.b21 {
    left: 50px;
    top: 270px; }
  .box.b22 {
    left: 270px;
    top: 270px; }
  .box.b23 {
    left: 490px;
    top: 270px; }
  .box.b31 {
    left: 50px;
    top: 490px; }
  .box.b32 {
    left: 270px;
    top: 490px; }
  .box.b33 {
    left: 490px;
    top: 490px; }
