.box {
  background: #78bec5;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  font-family: 'Verdana', Geneva, sans-serif;
  font-size: 100px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  padding: 0;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 8px darkslategray;
  width: 200px; }
  .box.b11 {
    left: 50px;
    top: 50px; }
  .box:hover {
    background-color: #3d4250;
    opacity: .7; }
  .box.b12 {
    left: 270px;
    top: 50px; }
  .box:hover {
    background-color: #3d4250;
    opacity: .7; }
  .box.b13 {
    left: 490px;
    top: 50px; }
  .box:hover {
    background-color: #3d4250;
    opacity: .7; }
  .box.b21 {
    left: 50px;
    top: 270px; }
  .box:hover {
    background-color: #3d4250;
    opacity: .7; }
  .box.b22 {
    left: 270px;
    top: 270px; }
  .box:hover {
    background-color: #3d4250;
    opacity: .7; }
  .box.b23 {
    left: 490px;
    top: 270px; }
  .box:hover {
    background-color: #3d4250;
    opacity: .7; }
  .box.b31 {
    left: 50px;
    top: 490px; }
  .box:hover {
    background-color: #3d4250;
    opacity: .7; }
  .box.b32 {
    left: 270px;
    top: 490px; }
  .box:hover {
    background-color: #3d4250;
    opacity: .7; }
  .box.b33 {
    left: 490px;
    top: 490px; }
  .box:hover {
    background-color: #3d4250;
    opacity: .7; }

.end {
  background: rgba(255, 255, 255, 0.8);
  color: #3d4250;
  display: none;
  height: 640px;
  left: 50px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 640px;
  z-index: 1; }
  .end h1 {
    font-size: 30px;
    font-weight: 300; }
  .end a {
    background-color: #3d4250;
    border-radius: 4px;
    color: #fff;
    padding: 14px 45px;
    text-decoration: none; }
    .end a:hover {
      background-color: #262934; }
