.box {
  background: #78bec5;
  border-radius: 7.5px;
  box-sizing: border-box;
  color: white;
  font-family: 'Verdana', Geneva, sans-serif;
  font-size: 75px;
  font-weight: bold;
  height: 150px;
  line-height: 150px;
  padding: 0;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 8px darkslategray;
  width: 150px; }
  .box.b11 {
    left: 10px;
    top: 10px; }
  .box.b12 {
    left: 170px;
    top: 10px; }
  .box.b13 {
    left: 330px;
    top: 10px; }
  .box.b21 {
    left: 10px;
    top: 170px; }
  .box.b22 {
    left: 170px;
    top: 170px; }
  .box.b23 {
    left: 330px;
    top: 170px; }
  .box.b31 {
    left: 10px;
    top: 330px; }
  .box.b32 {
    left: 170px;
    top: 330px; }
  .box.b33 {
    left: 330px;
    top: 330px; }

/*
//css utilizado en vez de :hover
.hover {
  background-color: #3d4250;
  opacity: .7;
  &.on_x{
    content: "X";
  }
  &.on_y{
    content: "O";
  }
}*/
.clic-x {
  background: #dc685a; }

.clic-o {
  background: #ecaf4f; }

.hide {
  display: none; }

.non-clic:hover {
  background-color: #3d4250;
  opacity: .7; }
  .non-clic:hover.x:after {
    content: 'X'; }
  .non-clic:hover.o:after {
    content: 'O'; }

.end {
  background: rgba(255, 255, 255, 0.8);
  color: #3d4250;
  height: 470px;
  left: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 470px;
  z-index: 1; }
  .end h1 {
    font-size: 30px;
    font-weight: 300; }
  .end a {
    background-color: #3d4250;
    border-radius: 4px;
    color: #fff;
    padding: 14px 45px;
    text-decoration: none; }
